<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Las Vegas Restaurant Recommendation App</title>
 
 	<meta charset="utf-8">

  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
 

<body>
 
    <div class="container">

      <div class="jumbotron">
        <h2>Input a Las Vegas Restaurant you've visited and liked</h2>
        <p>If you haven't been to any before, simply click 'Recommend'</p>

			<form action= " {{ url_for('result') }}"  method="POST">
			   Restaurant:<br>
			   <input name="restaurant" type="text" ><br>
			   <br>
			   <input type="submit" value="Recommend"><br>
			 
			</form>

      </div>
 
    </div>
</body>
 
</html>